@page "/"
@using MyControlsSample.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<TabControl>
	<TabPage Title="Head1">Content 1</TabPage>
	<TabPage Title="Head2">Content 2</TabPage>
	<TabPage Title="Head3">Content 3</TabPage>
</TabControl>
